<div class="home-container1">
<h1>
  My About Page
</h1>

<p>
  Greetings fellow visitor! The about page tells my very character of interest.
</p>

<img src="../../assets/kayven.png">

<div class="w3-container3">
<p>
  02-06-18<br>
  I missed miserably on a weeks worth of material during the beginning of the SEALS program. Looking at the coverage of missed material I really need to put in cathcing up with the rest. Im learning all needed Git commands and Javascript. Currently reading "The Alchemist" about a shepard named Santiago who meets Melchizedek a former king. Santiagos Personal Legend is guided witht the omens and the principle of favorability. The visit to Exgypt to the Crystal Merchant; he's indepedent to reach his dream. I am done with the reverse challenge and need it pushde into my Github repository to porgress and a SEAL in training.
</p>
</div>

<div class="w3-container4">
<p>
  02-15-18<br>
  Becoming a leader is a job I must fulfill and so I read about the Art of War that tells strategies that are used during conflicts. Next week, will be the last day learning from my SAT instructor who teaches us Strategies to every problem. It seems that Oscar is quite busy with a group of texters so I shall contact friends to sign up for the SCLA application and read the Art of War to help myself and TxT. AFter doing tiresome texts and reading I decide to converse with other Seals about their coding process. It was unfortunate to have leadership class postponed nonetheless I continue my duty as a SEAL and finish the Art of War.
</p>
</div>

<div class="w3-container5"></div>
<p>
  03-15-28<br>
 My school friend from school has sent me from what seems to be a scholarship of some for highschool applicants in playing the League of legends tournament. Im wondering whether I'll have some time to join the event since Im in the SEALS program. Hopefully I will have the opportunity to win $10,000.00 from the League tournament. Our SEALS in training chat we have discussed about our progress in our coding and asarel carried us in having proper navigation and a working server with no errors.
</p>
<br>
<p> My Development into becoming not just becoming the best Full Stack developer but also a great Leader in both technology and in my community. In my <a href="https://docs.google.com/presentation/d/1jLk9tXyUxG04s8pBIqNwv_JEOU-O5KlkPlTzgICStis/edit?usp=sharing">Leadership Slides</a> I present the tactics from the Art of War and used certain strategies for the troubles I have in being a Leader.
</p>
</div>