h1 {
    color:rgb(20, 84, 140);
    padding: 25px 75px 105px 70px;
  }

  .home-container1{
    padding: 95px 75px 75px 95px;
}  

.w3-container3{
    padding: 35px 100px 35px 100px;
}

.w3-container4{
  padding: 35px 100px 35px 100px;
}

.w3-container5{
  padding: 35px 100px 35px 100px;
}