.center {
    display: block;
    margin: auto;
    text-align: center;
}

h1 {
    color:rgb(20, 84, 140);
    padding: 120px 100px 75px 100px;
  }

  .home-container1{
    padding: 95px 75px 75px 95px;
}  