h1 {
    color:rgb(20, 84, 140);
    padding: 120px 100px 75px 100px;
  }

img {
    height: 50px;
    width: 50px;
}

.container6{
    padding: 35px 255px 25px 255px;
}

.container7{
    padding: 35px 255px 25px 255px;
}

.container8{
    padding: 5px 255px 25px 255px;
}

.Containers{
    padding: 35px 255px 25px 255px;
}