h1 {
    color:rgb(20, 84, 140);
    padding: 25px 75px 75px 65px;

  }

.home-container{
    padding: 95px 75px 75px 95px;
}

.w3-container{
    padding: 15px 255px 45px 255px;
}

.w3-container1{
    padding: 15px 205px 35px 205px;
}